{% extends "app.html" %}

{% block content %}
<div class="container-fluid job-editor centered">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">Job editor</h1>
      <p class="form-notes">Paste URLs in the box below(one per line) and submit. The processing will be completed asynchronously, but while waiting, you'll be able to track the progress on the <a href="/jobs/">job list</a> page.</p>
      <form action="/jobs/" method="POST" class="form-horizontal">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <input type="hidden" name="type" value="{{ job_type }}" />
        <div class="form-group {% if form.errors.urls %}has-error{% endif %}">
          <label for="urls" class="control-label col-xs-2">URLs:</label>
          <div class="col-xs-10">
            {{ form.urls(class="form-control", placeholder="e.g.: http://en.wikipedia.org/wiki/Outernet") }}
            {% for err_msg in form.errors.urls %}
            <span class="help-block">{{ err_msg }}</span>
            {% endfor %}
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-offset-2 col-xs-10">
            <div class="checkbox">
              <label>{{ form.javascript }}Enable javascript</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-offset-2 col-xs-10">
            <div class="checkbox">
              <label>{{ form.extract }}Perform article extraction</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-offset-2 col-xs-10">
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-default" href="/jobs/">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
