{% extends "app.html" %}

{% block content %}
<div class="container-fluid job-wizard centered">
  <div class="row job-type fetchable">
    <div class="col-sm-12">
      <h3>Grab content from external links</h3>
      <a class="btn btn-primary btn-lg" href="/jobs/actions/new/?type=FETCHABLE">Proceed</a>
    </div>
  </div>

  <div class="row job-type standalone">
    <div class="col-sm-12">
      <h3>Upload content manually</h3>
      <a class="btn btn-primary btn-lg" href="/jobs/actions/new/?type=STANDALONE">Proceed</a>
    </div>
  </div>
</div>
{% endblock content %}
