{% extends "app.html" %}

{% block content %}
<div class="container-fluid job-retry centered">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="page-header">Retry job</h2>
      <p class="form-notes">Retry job <a href="/jobs/{{ job_id }}/">{{ job_id }}</a> ?</p>
      <form action="/jobs/{{ job_id }}/actions/retry/" method="POST" class="form-horizontal">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="form-group">
          <div class="col-xs-offset-2 col-xs-10">
            <button type="submit" class="btn btn-primary">Confirm</button>
            <a class="btn btn-default" href="/jobs/">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
