{% extends "app.html" %}

{% block content %}
<div class="container-fluid jobs-list">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="sub-header">Task list of: {{ job_id }}</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Target</th>
              <th>MD5</th>
              <th>Title</th>
              <th>Size</th>
              <th>Images</th>
              <th>Timestamp</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
          {% for task in task_list %}
            <tr>
              <td>{{ task.target }}</td>
              <td>{{ task.md5 }}</td>
              <td>{{ task.title }}</td>
              <td>{{ task.size }}</td>
              <td>{{ task.images }}</td>
              <td>{{ task.timestamp }}</td>
              <td>{{ task.status }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
