{% extends "app.html" %}

{% block content %}
<div class="container-fluid jobs-list">
  <div class="row">

    <div class="col-sm-3 col-md-2 sidebar">
      <h4>Filter</h4>
      <ul class="nav nav-sidebar">
        <li {% if not current_status %}class="active"{% endif %}><a href="/jobs/">All</a></li>
        {% for status_id, status_name in statuses %}
        <li {% if current_status == status_id %}class="active"{% endif %}><a href="/jobs/?status={{ status_id }}">{{ status_name }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h2 class="sub-header">Job list</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Status</th>
              <th>Scheduled</th>
              <th>Updated</th>
              <th>Tasks</th>
            </tr>
          </thead>
          <tbody>
          {% for job in job_list %}
            <tr>
              <td><a href="/jobs/{{ job.job_id }}/">{{ job.job_id }}</a></td>
              <td>{{ job.status }}</td>
              <td>{{ job.scheduled }}</td>
              <td>{{ job.updated }}</td>
              <td><a href="/jobs/{{ job.job_id }}/tasks/">Show tasks</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
