[web]
static_root = {{ static_root }}
media_root = {{ media_root }}

[artexin]
out_dir = {{ zip_root }}

[database]
url = {{ database_uri }}

[redis]
host = {{ redis_host }}
port = {{ redis_port }}
password = {{ redis_password }}

[csrf]
secret = {{ csrf_secret }}
token_name = _csrf_token
path = /
expires = 600
