[circus]
endpoint = tcp://127.0.0.1:5555
pubsub_endpoint = tcp://127.0.0.1:5556
stats_endpoint = tcp://127.0.0.1:5557
httpd = False
logoutput = {{ daemon_log_dir }}/circus.log
pidfile = {{ daemon_working_dir }}/circusd.pid

[watcher:webapp]
cmd = {{ virtualenv_dir }}/bin/chaussette --fd $(circus.sockets.webapp) --backend waitress artexinweb.app.application
numprocesses = 5
use_sockets = True
copy_env = True
copy_path = True
virtualenv = {{ virtualenv_dir }}

stdout_stream.class = FileStream
stdout_stream.filename = {{ daemon_log_dir }}/app_out.log
stdout_stream.refresh_time = 0.3
stdout_stream.max_bytes = 1048576
stdout_stream.backup_count = 10

stderr_stream.class = FileStream
stderr_stream.filename = {{ daemon_log_dir }}/app_err.log
stderr_stream.refresh_time = 0.3
stderr_stream.max_bytes = 1048576
stderr_stream.backup_count = 10

[socket:webapp]
host = 127.0.0.1
port = 8000

[env:webapp]
CONFIG_PATH = {{ config_path }}
PYTHONPATH = {{ app_code_dir }}:{{ webapp_dir }}


[watcher:workerapp]
cmd = {{ virtualenv_dir }}/bin/python {{ webapp_dir }}/worker.py
numprocesses = 2
copy_env = True
copy_path = True
virtualenv = {{ virtualenv_dir }}

stdout_stream.class = FileStream
stdout_stream.filename = {{ daemon_log_dir }}/app_out.log
stdout_stream.refresh_time = 0.3
stdout_stream.max_bytes = 1048576
stdout_stream.backup_count = 10

stderr_stream.class = FileStream
stderr_stream.filename = {{ daemon_log_dir }}/app_err.log
stderr_stream.refresh_time = 0.3
stderr_stream.max_bytes = 1048576
stderr_stream.backup_count = 10

[env:workerapp]
CONFIG_PATH = {{ config_path }}
PYTHONPATH = {{ app_code_dir }}:{{ webapp_dir }}
